body {
	font-size: .8rem;
	padding: 2rem;
	color: #333;
}
section {
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	background-color: lavender;
	width: fit-content;
	padding: .4rem;
	border-radius: .2rem;
	line-height: 1;
}
code, xmp {
	background-color: #eee;
	border-radius: 3px;
	font-family: courier, monospace;
	padding: 0 3px;
	display: inline-block;
	margin: 0
}
.content {
	padding-left: 1rem;
}