<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/style.css">	
</head>
<body>
    <div class="wrap">
		<div action="/list" class="borderB container" style="text-align: center;">
			<h1>영화 무료 관람 예약 🎟️</h1>
			<h3 style="margin-top: 1.5rem">(영화사 이벤트 2022.07.08 한정)</h3>
			<button type="button" onclick="location.href='list'" style="font-size: 1.2rem; margin-top: 4rem;"> 예약 하러가기</button>
		</div>
    </div>
</body>
</html>
