<div>
	<a href="/sample/a">Sample A</a>    |
	<a href="/sample/a">Sample B</a>    |
	<a href="/study?subject=javascript">Javascript</a>    |
	<a href="/study?subject=HTML"><img src="https://picsum.photos/200/200/?random" alt=""></a>
</div>

<!-- 
	a 태그에 발생하는 요청은 GET    
	-->