<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Example</title>
	<style>
		h1, h2, h3, h4, h5, h6 {
			width: fit-content;
			font-family: 'SBAggroL';
			line-height: 1;
			border-radius: .2rem;
			background-color: DimGray;
			color: white;
			padding: .4rem;
		}
		input:checked + label {
			font-weight: bold;
		}
		input, button {
			border: 1px solid #ddd;
			border-radius: .2rem;
			line-height: 1; 
			padding: .4rem;
		}
		input:focus, button:focus {
			outline: 2px solid powderblue;
		}
	</style>
</head>
<body>
	<%# ejs ì£¼ì„
		GET ë°©ì‹ì€ ì£¼ì†Œì°½ì— ì§ì ‘ ìž‘ì„±í•´ì„œ ìš”ì²­ì„ ë³´ë‚´ë©´ ë°œìƒí•˜ëŠ” ë°©ì‹ìœ¼ë¡œ í…ŒìŠ¤íŠ¸í•˜ê¸° ì‰¬ì›€
			GETë°©ì‹ì€ ìž…ë ¥í•œ ë‚´ìš©ì„ í™•ì¸í•  ìˆ˜ ìžˆë‹¤
			http://localhost:8080/solution?keyword=dfd
				ðŸ‘‰ [Query String Parameters] keyword: dfd
		POST ë°©ì‹ì€ HTMLì— íŠ¹ë³„í•œ ìž¥ì¹˜ë¥¼ í•´ë’€ì„ ë•Œ ë°œìƒí•˜ëŠ” ë°©ì‹
			POST ë°©ì‹ì˜ ìš”ì²­ì´ ë°œìƒí•˜ëŠ” ì¼ë°˜ì ì¸ ìƒí™©ì€ form íƒœê·¸ì— ì˜í•œ ë™ìž‘ì´ ì‹¤í–‰ë˜ì—ˆì„ ë•Œ ì´ë‹¤
			POST ë°©ì‹ì€ ìž…ë ¥í•œ ë‚´ìš©ì´ hidden
				ìš”ì²­í•˜ëŠ” ë°ì´í„°ì˜ ê³µê°œì—¬ë¶€ê°€ ë¯¼ê°í•  ê²½ìš° ì‚¬ìš©(ë¡œê·¸ì¸)
			http://localhost:8080/solution
				ðŸ‘‰ [Form Data] keyword: dfd
	%> 
	<h2>To Solution (GET)</h2>
	<form action="/solution" method="get">
		<input type="text" name="keyword">
		<!-- name: query key ê°’ -->
		<button type="submit">SUBMIT</button>
		<button type="button">BUTTON</button>
		<button type="reset">RESET</button>
	</form>
	<h2>To Solution (POST)</h2>
	<%#
		button type
		submit: ë¶€ëª¨ formì„ ì •í•´ì§„ ì•¡ì…˜ ê²½ë¡œë¡œ ì œì¶œ
		reset: ë‹¤ì‹œ ì´ˆê¸°í™”
		button: ì´ë²¤íŠ¸ ì„¤ì • ë“±ë“±
	%> 
	<form action="/solution" method="post">
		<input type="text" name="keyword">
		<button type="submit">SUBMIT</button>
		<button type="button">BUTTON</button>
		<button type="reset">RESET</button>
	</form>
</body>
</html>