<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>패스워드 확인</title>
	<style>
		@font-face {
			font-family: 'GmarketSansLight';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		body {
			background-color: #f1f3f4;
			font-family: 'GmarketSansLight';
			color: #333;
			padding: 2rem;
		}
		form {
			width: 400px;
			display: flex;
			flex-direction: column;
			border-radius: .2rem;
			background-color: #fff;
			padding: 1.2rem 1rem;
			margin: 1rem auto 0;
		}
		form > div {
			display: flex;
			align-items: center;
		}
		form label {
			flex: 1;
			font-weight: bold;
		}
		form input {
			flex: 3;
			font-size: .9rem;
			height: 1.4rem;
		}
		form button {
			font-size: 1rem;
			font-weight: bold;
			color: #4a6ade;
			background-color: #4a6ade1a;
			padding: 0.6rem;
		}
		input, button{
			font-family: 'GmarketSansLight';
			border: 1px solid #ddd;
			border-radius: .2rem;
			padding: .3rem;
		}
		input:focus, button:focus {
			outline: 2px solid powderblue;
		}
		input::placeholder {
			color: #b1b1b1;
		}
		.msg {
			font-size: .8rem;
			color: #cf4e49;
			margin-bottom: .6rem;
		}
	</style>
</head>
<body>
	<form action="<%= activeUrl %>" method="post">
		<input type="hidden" name="id" value="<%= visite._id.toString() %>">
		<div>
			<label>비밀번호</label>
			<input type="password" name="password">
		</div>
		<div class="msg"><%= msg %></div>
		<button type="submit">확인</button>
	</form>
</body>
</html>