<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		<%- include('../static/css/style.css'); %>
	</style>
</head>
<body>
    <div class="wrap">
		<form action="/list" class="borderB container" style="text-align: center;">
			<h1>영화 무료 관람 예약 🎟️</h1>
			<h3 style="margin-top: 1.5rem">(영화사 이벤트 2022.07.08 한정)</h3>
			<button type="submit" style="font-size: 1.2rem; margin-top: 4rem;"> 예약 하러가기</button>
		</form>
    </div>
</body>
</html>
