<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            margin: 10px;
            align-items: center;
        }
    </style>

</head>

<body>
    <h2>영화 무료 관람 예약 <small>(영화사 이벤트 2022.07.08 한정)</small></h2>
    <div style="display: flex;">
        <div>
            <label>토르 - 러브 앤 썬더</label>
            <p>
                <a href="">
                    <img src="/85999_320.jpg" width="200px" />
                </a>
            </p>
        </div>
        <div>
            <label>탑건-매버릭</label>

            <p>
                <a href=""><img src="./static/82120_320.jpg"
                        width="200px" /></a>
            </p>
        </div>
        <div>
            <label>헤어질 결심</label>
            <p>
                <a href=""><img src="/85852_320.jpg"
                    width="200px" /></a>
            </p>
        </div>
        <div>
            <label>범죄도시 2</label>
            <p>
                <a href=""><img src="/85813_320.jpg"
                    width="200px" /></a>

            </p>
        </div>
    </div>
</body>

</html>