
<h1>Sub</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum culpa ratione earum laborum, maiores officia, laudantium in, ipsum illo quo placeat obcaecati mollitia sit fuga unde quaerat facere eaque est.</p>
<p>이 페이지는 서버측으로 메세지를 받을 수 있다</p>
<script>
	const ws = new WebSocket(`ws://${location.host}/ws/sub`);
	ws.onmessage = function(recv) {
		// 서버측에서 전달 받은 메세지
		// recv에는 헤더를 포함해서 꽤 많은 속성들이 있다
		// 서버에서 보낸 내용 본문은 data라는 프로퍼티에 들어있다
		console.log('received:' + recv.data)
	}
</script>