body {
	background-color: var(--bg);
}
i {
	font-size: .9rem;
}
.card {
	border-radius: .4rem;
	background-color: #fff;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
}
.userProfileImg {
	width: 4rem;
	height: 4rem;	
	margin-right: 1rem;
}
#home, #view {
	width: 700px;
}

/* .postWriteSection */
.writeForm {
	width: 100%;
}
textarea {
	height: 5rem;
	border: none;
	background-color: var(--bgLight);
	padding: 0.5rem;
}
.previewWrap img {
	height: 5rem;
	border: var(--border);
	border-radius: 0.2rem;
	margin: 1rem 0.4rem 0 0;
}
.btnWrap {
	justify-content: flex-end;
	font-size: .9rem;
	margin-top: .4rem;
}
.btnWrap label {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.btnWrap .btn {
	border: none;
	color: var(--successColor);
	background-color: transparent;
	margin-left: .4rem;
	padding: .4rem;
}
.btnWrap .btn:hover {
	background-color: #007aff17;
	background-color: #007aff17;
	border-radius: 1rem;
}
.btnWrap .privatChk {
	width: 1rem;
	height: 1rem;
	margin-right: .2rem;
}
.btnWrap .privatChk:checked + span {
	color: var(--successColor)
}
.btnWrap input[type="file"] {
	width: 1px;
	height: 1px;
	border: transparent;
}

/* postListSection */
.postcontainer {
	cursor: pointer;
}
.postcontainer:hover {
	background-color: var(--bgLight);
}
.writerInfo {
	align-items: flex-end;
	position: relative;
	margin-bottom: 1rem;
}
.writerInfo .writerId {
	font-weight: 600;
	color: var(--gray777);
}
.writerInfo .createAt {
	font-size: .9rem;
	color: var(--gray999);
	margin: 0.4rem 0;
}
.writerInfo .isPraivate {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: 0;
	right: -0.9rem;
	text-align: center;
	line-height: 1.4rem;
	border-radius: 50%;
	background-color: var(--gray);
	color: #fff;
}
.content {
	margin-bottom: 1.2rem;
}
.content .message {
	white-space: pre-wrap;
	line-height: 1.5;
	margin-bottom: 1rem;
}
.content .imageContainer {
	position: relative;
	width: 100%;
	border: var(--border);
	border-radius: 1rem;
	overflow: hidden;
}
.content .imageContainer .imageWrap {
	width: 100%;
	flex-wrap: wrap;
	gap: .2rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.content .imageContainer .imageWrap div {
	height: 100%;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.content .imageContainer .imageWrap img {
	vertical-align: bottom;
	display: none;
}
.commentWrap .responseArea {
	font-size: .8rem;
	font-weight: 600;
	text-align: right;
	color: var(--gray999);
}

/* view */

#view .postcontainer {
	cursor: auto;
}
#view .postcontainer:hover {
	background-color: #fff;
}
#view .responseArea {
	text-align: left;
	border-top: var(--border);
	border-bottom: var(--border);
	padding: .5rem .1rem;
}
#view .cmmentWriteArea {
	align-items: center;
	padding: .5rem .1rem;
}
#view .cmmentWriteArea .userProfileImg {
	width: 2rem;
	height: 2rem;
}