.addChat i {
	font-size: 4.2vw;
}
.container > section {
	margin-bottom: 3vw;
}
.card {
	overflow: unset;
}
.card:last-child {
	margin-bottom: 8.5vw;
}
.roomSel {
	width: 28vw;
	display: block;
	font-size: .7rem;
	border-radius: 1vw;
	color: var(--gray);
	padding: 1vw;
	margin-left: auto;
}
.roomList {
	display: none;
}
.roomList.active {
	display: block;
}
.owner {
	width: 11%;
	text-align: center;
	border: 1px solid var(--beige);
	border-radius: 3.3vw;
	background-color: var(--bgLight);
	margin-right: 3vw;
	padding: 1vw
}
.owner span {
	display: -webkit-box;
	overflow: hidden;
	font-size: .7rem;
	text-overflow: ellipsis;
	word-break: break-word;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
.roomTit {
	font-size: .8rem;
	letter-spacing: .1vw;
	font-weight: bold;
	margin-right: 1vw;
}
.roomTit small {
	color: var(--gray);
}
.private i {
	font-size: 3vw;
	vertical-align: middle;
	color: var(--gray);
	margin-bottom: 0.5vw;
}
.createdAt {
	margin: auto 0 0 auto;
}
.roomInfo {
	align-items: center;
	font-size: .7rem;
	text-align: right;
	color: var(--gray);
	margin-top: 1vw;
}
.newCnt {
	min-width: 3.4vw;
    height: 3.4vw;
	display: inline-block;
    text-align: center;
    font-size: .6rem;
    line-height: 3.4vw;
    border-radius: 2.1vw;
    color: #fff;
	opacity: 0;
	margin-left:  auto;
	padding: 0 .4vw;
	transition: opacity 1s ease;
}
.newCnt.active {
    background-color: var(--errorColor);
	opacity: 1;
}

/* modal */
.modal .modalTit {
	margin: 4vw 0;
}
.modal .modalFooter {
	justify-content: center;
}
.modal .closeBtn {
	margin-left: auto;
}
.modal form > div {
	width: 100%;
	min-height: 6.8vw;
	align-items: center;
}
.modal form > div:last-child {
	margin: 5.2vw 0 0;
}	
.modal input#password {
	display: none;
}
.modal input#private:checked ~ input#password {
	display: inline-block;
	font-size: .7rem;
	border-radius: 1vw;
	margin-left: 1vw;
	padding: 1vw
}
.modal label[for="title"] {
	width: 100%;
	display: block;
}
.modal input.borderB {
	width: 100%;
	border: transparent;
	border-bottom: var(--border);
	border-radius: 0;
	padding: 1vw;
}
.modal input.borderB:focus {
	outline: transparent;
	border-bottom: 2px solid var(--successColor);
}
.modal .privateChk {
	gap: 4vw;
	margin-top: 2.6vw;
}
.modal .pwMsg {
	font-size: .7rem;
	color: var(--errorColor);
	margin-top: 1vw;
	padding-left: 1vw;
}