.container > section {
	margin-bottom: 3vw;
}
.card {
	overflow: unset;
}
.card:last-child {
	margin-bottom: 8.5vw;
}
.roomSel {
	width: 28vw;
	display: block;
	font-size: .7rem;
	border-radius: 1vw;
	color: var(--gray);
	padding: 1vw;
	margin-left: auto;
}
.roomList {
	display: none;
}
.roomList.active {
	display: block;
}
.roomTit {
	font-size: .9rem;
	font-weight: bold;
	margin-right: 1vw;
}
.roomTit small {
	color: var(--gray);
}
.private i {
	font-size: 3vw;
	color: var(--gray);
}
.newCnt {
	width: 4.2vw;
    height: 4.2vw;
	display: inline-block;
    text-align: center;
    font-size: .6rem;
    line-height: 4.2vw;
    border-radius: 50%;
    color: #fff;
	opacity: 0;
	margin: -.8vw -1.6vw 0 auto;
	transition: opacity 1s ease;
}
.newCnt.active {
    background-color: var(--errorColor);
	opacity: 1;
}
.roomInfo {
	align-items: flex-end;
	font-size: .8rem;
	text-align: right;
	margin-top: 1vw;
	padding-left: 1vw;
}
.createAt {
	margin: 0;
}

/* modal */
#modal .modalTit {
	margin: 4vw 0;
}
#modal .modalFooter {
	justify-content: center;
}
#modal .closeBtn {
	margin-left: auto;
}
#modal form > div {
	width: 100%;
	height: 6.8vw;
	align-items: center;
}
#modal form > div:last-child {
	margin-bottom: 0;
}	
#modal input#password {
	display: none;
}
#modal input#private:checked ~ input#password {
	display: inline-block;
	font-size: .7rem;
	border-radius: 1vw;
	margin-left: 1vw;
	padding: 1vw
}
#modal label[for="title"] {
	width: 100%;
	display: block;
}
#modal input#title {
	width: 100%;
	border: transparent;
	border-bottom: var(--border);
	border-radius: 0;
	padding: 1vw;
}
#modal input#title:focus {
	outline: transparent;
	border-bottom: 2px solid var(--successColor);
}
#modal .privateChk {
	gap: 4vw;
	margin: 2.6vw 0 5.2vw;
}