<h3>postFetch</h3>
<form action="/api/post" method="post" enctype="application/x-www-form-urlencoded">
	<input type="checkbox" name="'type" value="private">
	<button>submit</button>
</form>
<hr>
<button id="b1">POST TEST</button>
<button id="b2">POST TEST</button>

<script>
	document.querySelector("#b2").onclick = async (evt)=> { // json
		//AJAX post 요청할 때 전송 데이터를 application/x-www-form-urlencoded 보다는
		//appication/json 타입으로 전송한다
		const data = {
			comment : '안녕하세요. 반갑습니다',
			score: 3
		}
		let response = await fetch('api/post', {
			method: 'post',
			body: JSON.stringify(data),
			headers: {"Content-type" : "application/json"}
		});
		let result = await response.json();
		console.log(result)
	}
	document.querySelector("#b1").onclick = async (evt)=>{	// urlencoded
		let data = "comment=반갑습니다&visitor=루피";
		
		let response = await fetch("/api/post",
			{method :"post" , body : data , headers : {"Content-type" : "application/x-www-form-urlencoded" } });
		let result =response.json();
		console.log(result);

	};
</script>