<h3>
	AJAX 요청을 보낼때 데이터를 같이 보내고자 한다면?
</h3>
<div>
	<input type="text" id="txt" onchange="test(event);"/>
	<div></div>
</div>
<hr>
<div>
	
	<input type="number" id="one" onchange="sendAddReq(event);"/>
	<span>+</span>
	<input type="number" id="other" onchange="sendAddReq(event);"/>
	<span>=</span>
	<span id="addResult"></span>
</div>
<script>
	async function sendAddReq(evt) {
		let one = document.querySelector('#one').value;
		let other = document.querySelector('#other').value;
		let addResult = document.querySelector('#addResult');
		if(one && other) {
			console.log(one, other)
		}
		let response = await fetch(`/api/add?one=${one}&other=${other}`, {method: 'get'});
		let result = await response.json();
		if(result.success) {
			addResult.innerText = result.answer
		}else{
			addResult.innerText = '????????'
		}
	}
	async function test(evt) {
		let value =evt.target.value;
		let response = await fetch(`/api/check?value=${value}`, {method :"get"});
		let result = await response.json();
		// { "success" : true / false }
		if(result.success) {
			evt.target.nextElementSibling.innerHTML = "<b>ok</b>";
		} else {
			evt.target.nextElementSibling.innerHTML = "<i>nope</i>";
		}
	}
</script>








