<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업로드하자</title>
</head>
<body>
    <h1>업로드하자</h1>
    <section>
        <h4><a href="http://www.tcpschool.com/html-tag-attrs/form-enctype">enctype</a></h4>
        form을 통해 클라이언트로부터 파일 자체를 전송받고자 할 때는 <br>
        <code>method = "post"</code>로 한 후에
        <code>enctype="multipart/form-data"</code>로 변경해서 설정
    </section>
    <form action="/uploaded" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="desc" style="width: 300px;">
        </p>
        <p>
            <input type="file" name="attach">
        </p>
        <button type="전송">전송</button>
    </form>
</body>
</html>