<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="wrap">
		<main>
			<h1>회원가입이 완료되었습니다</h1>
			<p><b><%= accuontData.name%></b>님의 회원가입을 축하합니다 </p>
			<p>가입하신 계정은 <%= accuontData.id %>입니다</p>
			<a href="/account/signin">로그인하기</a>
		</main>
	</div>
</body>
</html>