<style>
	#modal {
		width: 100vw;
		height: 100vh;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		background-color: #00000033;
		display: none;
	}
		form {
			width: 400px;
			display: flex;
			flex-direction: column;
			border-radius: .2rem;
			background-color: #fff;
			padding: 1.2rem 1rem;
			margin: 1rem auto 0;
		}
		form > div {
			display: flex;
			align-items: center;
		}
		form label {
			flex: 1;
			font-weight: bold;
		}
		form input {
			flex: 3;
			font-size: .9rem;
			height: 1.4rem;
		}
		form button {
			font-size: 1rem;
			font-weight: bold;
			color: #4a6ade;
			background-color: #4a6ade1a;
			padding: 0.6rem;
		}
		input, button{
			font-family: 'GmarketSansLight';
			border: 1px solid #ddd;
			border-radius: .2rem;
			padding: .3rem;
		}
		input:focus, button:focus {
			outline: 2px solid powderblue;
		}
		input::placeholder {
			color: #b1b1b1;
		}
		.msg {
			font-size: .8rem;
			color: #cf4e49;
			margin-bottom: .6rem;
		}
</style>

<div id="modal">
	<form action="/" method="post">
		<div>
			<label>비밀번호</label>
			<input type="password" name="password">
		</div>
		<div class="msg">에러메세지</div>
		<div class="btnWrap">
		</div>
	</form>
</div>