<!DOCTYPE html>
<html>
<head>
	<style>
		div {
			margin: 10px;
			align-items: center;
		}
	</style>
</head>
<body>
	<h2>영화 무료 관람 예약 <small>(영화사 이벤트 2022.07.08 한정)</small></h2>
	<div style="display: flex;">
		<% movies.forEach(element => { %> 
		<div>
			<label><%= element.name %> </label>
			<p>
				<a href="/seat?id=<%= element.id %> ">
					<img src="<%= element.img %>" width="200px" />
				</a>
			</p>
		</div>
		<% }) %> 
	</div>
</body>

</html>