<!DOCTYPE html>
<html>

<head>
	<style>
		div {
			margin: 10px;
			align-items: center;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		td {
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #D6EEEE;
		}
	</style>
</head>

<body>
	<div>
		<h2><%= target.name  %></h2>
		<small>좌석을 선택해주세요.(최대2개)</small>
	</div>
	<div style="width: 70%;">
		<form action="/reserve" method="post">
			<input type="hidden" value="<%=target.id %>" name="id">
			<table style="margin-bottom: 10px;">
				<tr style="height: 50px; background-color: #2fc088;">
					<td colspan="10" style="text-align: center;">스크린</td>
				</tr>
				<% for(let row=1; row<=5; row++) {%>
				<tr>
					<%for(let seat= 1; seat <= 10 ; seat++  ){%>
					<td><input type="checkbox" value="<%=row +'-' + seat %>" name="seat" onclick="limit(event);"></td>
					<%}%>
				</tr>
			<% } %>
			</table>
			<button type="submit">예약확정</button>
			<button type="reset">재선택</button>
		</form>
	</div>
	<script>
		let cnt = 0;
		function limit(elm) {	// onclick 바뀌기 전에 작동
			if(evetn, event.target.checked) {
				if(cnt < 2) {
					cnt++;
				} else {
					e.preventDefault();
					// 이벤트 초기화 필요
				}
			} else {
				cnt --;
			}
		}
		function limit(event) {	// onchange 바뀌고 난 다음에 작동
			if(event.target.checked) {
				cnt ++;
				if(cnt === 3) {
					event.target.checked = false;
					cnt--;
				}
			}
		}
	</script>
</body>

</html>