header:not(.noFixed) {
	width: 100vw;
	height: var(--headerHeight);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0; 
	left: 0;
	text-align: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	padding: 0 5vw;
	z-index: 100;
}
.logo {
	font-family: 'Manse';
	font-size: 1.6rem;
}
.logo > i {
	font-size: 1.6rem;
	font-style: normal;
	color: var(--successColor);
}

/* headerCenter */
.headerCenter {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* headerRight */
.headerRight {
	font-family: Pretendard;
	font-size: .9rem;
	cursor: pointer;
}